[submodule "DST-Contracts/lib/layerzero-v2"]
	path = DST-Contracts/lib/layerzero-v2
	url = https://github.com/layerzerolabs/layerzero-v2
[submodule "DST-Contracts/lib/forge-std"]
	path = DST-Contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DST-Contracts/lib/solady"]
	path = DST-Contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "DST-Contracts/lib/solidity-bytes-utils"]
	path = DST-Contracts/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "DST-Contracts/lib/devtools"]
	path = DST-Contracts/lib/devtools
	url = https://github.com/layerzero-labs/devtools
[submodule "DST-Contracts/lib/openzeppelin-contracts"]
	path = DST-Contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
